:after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
label {
  cursor: pointer;
}
button, input {
  overflow: visible;
  outline: none;
}
button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}